[submodule "geometry"]
	path = geometry
	url = https://github.com/mcroitor/geometry
[submodule "mccsv"]
	path = mccsv
	url = https://github.com/mcroitor/mccsv
[submodule "money"]
	path = money
	url = https://github.com/mcroitor/money
[submodule "polynomial"]
	path = polynomial
	url = https://github.com/mcroitor/polynomial
